<!DOCTYPE html>
<html>
<head>
    <title>FastAPI with Jinja2 Template</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
            color: rgb(251, 15, 78);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <h1>Welcome to Precogs.AI</h1>
    <p>This is a precogs backend rest API</p>
</body>
</html>
